{% extends 'base.html' %}
{% load static %}
{% block title %} Contacto {% endblock %}
{% block link %}
<link rel="icon" href="{% static 'images/icon/clock_clock tower_flash_tower_icon.png' %}">
{% endblock %}
{% block h1 %} <h1 class="nombre_seccion">Contacto</h1> {% endblock %}
{% block main %}
<div class="main_contacto">
    <div class="contenido-principal">
        <h2>Formulario de Registro</h2>
        <div class="cont_form">
            <form class="formulario" id="formulario" method="post">
                <div class="body_form">
                    <label class="input_label" for="firstnmame">Nombre:
                        <input class="input_camp" type="text" name="Nombre" id="nombre" placeholder="Ingrese su nombre">
                    </label>

                    <label class="input_label" for="apellido">Apellido:
                        <input class="input_camp" type="text" name="Apellido" id="apellido"
                            placeholder="Ingrese su apellido">
                    </label>

                    <label class="input_label" for="Street">Correo:
                        <input class="input_camp" type="email" name="e-mail" id="email" placeholder="Ingresa tu mail">
                    </label>

                    <label class="input_label" for="Street">Dirección:
                        <input class="input_camp" type="text" name="Direcion" id="direccion"
                            placeholder="Ingrese su dirección">
                    </label>

                    <label class="input_label" for="City">Ciudad:
                        <input class="input_camp" type="Text" name="Ciudad" value="CABA" readonly>
                    </label>

                    <label class="input_label" for="zipcode">Código Postal:
                        <input class="input_camp" type="text" name="Codigo Postal" id="cp"
                            placeholder="Ingrese su código Postal">
                    </label>

                    <label class="input_label" for="Birthday">Fecha de nacimiento:
                        <input class="input_camp" type="date" name="Fecha de Nacimiento">
                    </label>

                    <fieldset>
                        <legend class="leg">Género</legend>
                        <div class="option">
                            <label class="input_label">Hombre
                                <input class="input_camp" type="radio" name="Genero" value="Hombre" checked>
                            </label>
                            <label class="input_label">Mujer
                                <input class="input_camp" type="radio" name="Genero" value="Mujer">
                            </label>
                            <label class="input_label">Otro
                                <input class="input_camp" type="radio" name="Genero" value="otro">
                            </label>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Película preferida</legend>
                        <div class="option">
                            <label class="input_labelC"> Volver al Futuro I
                                <input class="input_camp" type="checkbox" name="Pelicula" value="Volver al Futuro I">
                            </label>
                            <label class="input_labelC">Volver al futuro II
                                <input class="input_camp" type="checkbox" name="Pelicula" Value="Volver al futuro II">
                            </label>
                            <label class="input_labelC">Volver al futuro III
                                <input class="input_camp" type="checkbox" name="Pelicula" value="Volver al futuro III">
                            </label>
                        </div>
                    </fieldset>
                </div>

                <input class="button-send" type="submit" id="btnEnviar" value="Enviar"></button>
            </form>
        </div>
    </div>
</div>

{% endblock %}