{% extends 'base.html' %}
{% load static %}
{% block title %} Trilogía {% endblock %}
{% block link %} <link rel="icon" href="{% static 'images/icon/clock_time_icon.png' %}"> {% endblock %}
{% block h1 %} <h1 class="nombre_seccion">Volver al Futuro</h1> {% endblock %}
{% block main %}
<div class="main_vaf1">
    <div class="logo_film">
        <img class="logo" src="{% static 'images/Trilogia/1/Back-To-The-Future-Logo-1985.png' %}" alt="logo volver al futuro I"> 
        <h3 class="pelicula" id="VAFI">Volver al Futuro I (1985)</h3>
    </div>
    <div class="sinopsis">
        <div class="flex-paragraphcast">
            <div class="sinopsisI">
                <span>
                    <p>
                        Marty McFly, un estudiante de secundaria de 17 años, es enviado accidentalmente 30 años al pasado en un DeLorean, que viaja en el tiempo, inventado por su amigo cercano, el científico inconformista Doc Brown.
                    </p>
                </span>
                <span>
                    <p>
                        Marty McFly, un típico adolescente estadounidense de los años ochenta, es enviado accidentalmente de regreso a 1955 en una "máquina del tiempo" DeLorean alimentada con plutonio inventada por un científico un poco loco. 
                    Durante su, a menudo histérico, pero siempre sorprendente, viaje en el tiempo, Marty debe asegurarse de que sus futuros padres adolescentes se conozcan y se enamoren, para poder volver a su tiempo.
                    </p>
                </span>
                <div>
                    <a href="argumento1.html"><button>Leer +</button></a> 
                </div>
                <ul>
                    <li class="list_sinopsis">
                        <p>
                            <strong>Director:</strong>Robert Zemeckis
                        </p> 
                    </li>
                    <li class="list_sinopsis">
                        <p>
                            <strong>Guión:</strong>Robert Zemeckis - Bob Gale
                        </p>
                    </li>
                    <li class="list_sinopsis">
                        <p>
                            <strong>Género:</strong>Comedia – Aventura – Ciencia Ficción 
                        </p>
                    </li>
                    <li class="list_sinopsis">
                        <p>
                            <strong>Protagonistas:</strong> Michael J. Fox - Christopher Lloyd - Lea Thompson - Crispin Glover - Thomas F. Wilson 
                        </p>
                    </li>
                    <li class="list_sinopsis">
                        <p>
                            <strong>Duración:</strong> 1 hora 56 minutos
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
            
    <div class="video">
        <iframe src="https://www.youtube.com/embed/suUZWVnmgqc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

{% endblock %}