{% load static %}
  <!--************************* pie de pagina *************************-->
  <footer class="container-footer">

    <!--************************* redes sociales *************************-->
    <div class="box_footer">
      <a href=""><i class="fa-brands fa-twitter icon_social"></i></a>
      <a href=""><i class="fa-brands fa-facebook icon_social"></i></a>
      <a href=""><i class="fa-brands fa-pinterest icon_social"></i></a>
      <a href=""><i class="fa-brands fa-instagram icon_social"></i></a>
      <a href=""><i class="fa-brands fa-linkedin icon_social"></i></a>
    </div>
    <p class="text_footer">Derechos reservados &#169;2020</p>
  </footer>
  <!-------------------------- script de iconos ----------------------------->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
    integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>
  <!-------------------------- script  ----------------------------->
  <script src="{% static 'js/showMenu.js' %}"></script>
  
</body>

</html>